#main {
    background-color: rgb(247, 220, 220);
    justify-items: center;
    z-index: 1 ;
}

#title {
    padding: 5px;
    text-align: center;
    font: italic 1.2em "Fira Sans", serif ;
}

#title h1 {
    font: small-caps bold 40px/1 sans-serif ;
}

#img-div {
    padding: 15px;
    margin: 5px ;
    background-color: rgb(178, 243, 243);
    display: block;
}

#image {
    width: 100%;
    height: auto;
    /* justify-content: center; */
    display:block;
    margin:0 auto;
    /* overflow: hidden; */
}

#tribute-info {
    height:90%;
    padding:10px;
    font:caption;
  }
