* {
    margin: 1px;;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width:12540px) {
    
    body {
        display: block;
        background: linear-gradient(120deg,rgba(0, 255, 255,2.68),rgba(0, 15, 255,0.65));
        
        font-size: 400;
        font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
        overflow: auto;
    }
}


.main {
    position: relative;
}

#header {
    position: fixed;
    top:0;
    display:flex;
    justify-content: space-around;
    padding: 1.2rem;
    align-items: center;
}

.logo {
    width:60vw;
}

#header-img {
    height:100%;
    width:100%;
    max-width:21rem;
    display:flex;
    justify-content: center;
    text-align: center;
    padding: 0px 20px;
}

#nav-bar {
    display: block;
}

#nav-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#nav-bar ul li {
    list-style: none;
}

a {
    color: #555;
    text-decoration: none;
    padding: 15px;
    margin: 5px;
}

#heading {
    display: flex;
    flex-direction: column;
    color:#00ffff;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
}

#form {
    display:contents;
}

#email {
    padding: 5px 8px;
    margin:3px;
    width:25rem;
    border:3px;
    border-radius: 0.25rem;
  }
  
  #submit {
    background:rgba(150,255,100,1.67);
    border:2px;
    border-radius:5px;
    padding: 5px 8px;
    margin:5px;
  }

 section {
    padding: 20px;
}

#div-video {
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

#services {
    display: grid;
    align-content: center;
    justify-content: center;
}

.ser {
    padding: 2px;
    margin: 10px;
    align-content: center;
    justify-content: center;
}

#about {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    width: 90%;
}
.card {
    display: grid;
    
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin: 5px;
    border: 2px solid grey;
}

.card li {
    list-style: none;

}
.card button{
    
    color: rgb(255, 250,250);
    background: rgba(0,100,150,0.5);
}