{% extends 'layout.html' %}

{% block content %}
<div class="container my-5">
  
  <p> Please, feel free to give your opinion, suggestion or any kind of enquiry..........</p>
  <div class="card card-hero my-2 ">
    <div class="card-block">
      <form class="form-horizontal" method="post">
        <fieldset class="mt-2">
          <div class="form-group">
            <label for="inputName" class="col-md-2 control-label" style="line-height:0.07143;font-size:15px !important; ">Name</label>
            <input type="text" class="form-inline col-md-9" id="inputName" placeholder="Name" name="name" style="padding-bottom:12px">
          </div>
          <div class="form-group">
            <label for="inputEmail" class="col-md-2 control-label" style="line-height:0.07143;font-size:15px !important">Email</label>
            <input type="email" class="form-inline col-md-9" id="inputEmail" placeholder="Email" name="email" style="padding-bottom:12px">
          </div>
          <div class="form-group">
            <label for="inputPhone" class="col-md-2 control-label" style="line-height:0.07143;font-size:15px !important">phone</label>
            <input type="number" class="form-inline col-md-9" id="inputPhone" placeholder="Phone" name="phone" style="padding-bottom:12px">
          </div>
          <div class="form-group">
            <label for="inputSubject" class="col-md-2 control-label" style="line-height:0.07143;font-size:15px !important">Subject</label>
            <input type="text" class="form-inline col-md-9" id="inputSubject" placeholder="Subject" name="sub" style="padding-bottom:12px">
          </div>
          <div class="form-group">
            <label for="textArea" class="col-md-2 control-label" style="line-height:0.07143;font-size:15px !important">Message</label>
            <textarea class="form-inline col-md-9" rows="5" id="textArea" placeholder="Your message..." name="msg"></textarea>
          </div>
          <div class="form-group">
            <div class="col-md-9 col-md-offset-2">
              <button type="submit" class="btn btn-outline-primary" name="submit">Submit</button>
              <button type="button" class="btn btn-outline-danger">Cancel</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}